# Server Config
PORT=3000
NODE_ENV=production

# Database
MONGO_URI=mongodb://localhost:27017/cyberguard

# Auth
JWT_SECRET=YOUR_SUPER_SECRET_KEY_HERE

# Security APIs (Optional - Need keys for real production data)
VIRUSTOTAL_API_KEY=
GOOGLE_SAFE_BROWSING_API_KEY=

# Python AI Service
PYTHON_AI_URL=http://localhost:5000
